---
import BaseLayout from '@/layouts/BaseLayout.astro'
import siteConfig from '@/site-config'
import Contact from '@/components/contact.astro'
---

<BaseLayout title="Contact">
  <Contact />
  <p>
    Or you can also email me at
    <a
      prose-link
      aria-label={siteConfig.email}
      href={`mailto:${siteConfig.email}`}
    >
      {siteConfig.email}
    </a>.
  </p>
</BaseLayout>
